<div class="wrapper">

  <!-- banner playlist -->
  <div class="banner-playlist">
    <div class="content-banner-top">
      <div class="container">

        <div class="playlist-image">
          <img src="https://i.scdn.co/image/ab67706f000000032421f2964f9a78d400fd1a92" alt="">
        </div>

        <div class="text-content-playlist">
          <p>PLAYLIST</p>
          <h1>Từ Màn Ảnh</h1>
          <div>
            <h5>Nhạc phim Nevertheless, Chuyện Đời Bác Sĩ, Vagabond, Sở Hữu ... và những bộ phim khác</h5>
            <div class="text">
              <a href="#">Spotify</a>
              <span>8.932 lượt thích</span>
              <span>100 bài hát, 6 giờ 33 phút</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--content list music -->
  <div class="playlist-bottom">
    <div class="container">

      <!-- icon play -->
      <div class="icon-button">
        <div class="button-play">
          <button>
            <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
              <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
            </svg>
          </button>
        </div>
        <div class="like-playlist">
          <button>
            <svg role="img" fill="currentColor" height="32" width="32" viewBox="0 0 32 32"
              class="Svg-sc-1bi12j5-0 fIDrcz">
              <path
                d="M27.672 5.573a7.904 7.904 0 00-10.697-.489c-.004.003-.425.35-.975.35-.564 0-.965-.341-.979-.354a7.904 7.904 0 00-10.693.493A7.896 7.896 0 002 11.192c0 2.123.827 4.118 2.301 5.59l9.266 10.848a3.196 3.196 0 004.866 0l9.239-10.819A7.892 7.892 0 0030 11.192a7.896 7.896 0 00-2.328-5.619zm-.734 10.56l-9.266 10.848c-.837.979-2.508.979-3.346 0L5.035 16.104A6.9 6.9 0 013 11.192 6.9 6.9 0 015.035 6.28a6.935 6.935 0 014.913-2.048 6.89 6.89 0 014.419 1.605A2.58 2.58 0 0016 6.434c.914 0 1.555-.53 1.619-.585a6.908 6.908 0 019.346.431C28.277 7.593 29 9.337 29 11.192s-.723 3.6-2.062 4.941z">
              </path>
            </svg>
          </button>
        </div>
        <div class="different">
          <button>
            <svg role="img" fill="currentColor" height="40" width="40" viewBox="0 0 32 32"
              class="Svg-sc-1bi12j5-0 fIDrcz">
              <path
                d="M5.998 13.999A2 2 0 105.999 18a2 2 0 00-.001-4zm10.001 0A2 2 0 1016 18a2 2 0 000-4zm10.001 0A2 2 0 1026.001 18 2 2 0 0026 14z">
              </path>
            </svg>
          </button>
        </div>
      </div>

      <!-- list music -->
      <div class="content-spacing">

        <!-- title table list music-->
        <div class="title-tab">
          <div class="row">
            <div class="col-md-1">
              <span>#</span>
            </div>
            <div class="col-md-4">
              <span>TIÊU ĐỀ</span>
            </div>
            <div class="col-md-3">
              <span>ALBUM</span>
            </div>
            <div class="col-md-2">
              <span>NGÀY THÊM</span>
            </div>
            <div class="col-md-2">
              <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path
                    d="M7.999 3H6.999V7V8H7.999H9.999V7H7.999V3ZM7.5 0C3.358 0 0 3.358 0 7.5C0 11.642 3.358 15 7.5 15C11.642 15 15 11.642 15 7.5C15 3.358 11.642 0 7.5 0ZM7.5 14C3.916 14 1 11.084 1 7.5C1 3.916 3.916 1 7.5 1C11.084 1 14 3.916 14 7.5C14 11.084 11.084 14 7.5 14Z"
                    fill="currentColor"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>

        <!-- the song -->
        <div class="list-playmusic">

          <!-- div row is one song -->
          <div class="row">
            <div class="col-md-1">
              <span>1</span>
              <button>
                <svg height="32" role="img" width="32" viewBox="0 0 24 24" class="YetgE1VONGunFTGer0iQ">
                  <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
              </button>
            </div>
            <div class="col-md-4">
              <div class="image-music">
                <img src="https://i.scdn.co/image/ab67616d000048510f5c597bba60a1e0c5364baa" alt="">
              </div>
              <div class="title-music">
                <h5>Stay with me</h5>
                <span>
                  <a href="#">CHANYEOL</a>,
                  <a href="#">Punch</a>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-album">
                <a href="#">Moonlovers: Scarlet Heart Ryeo (Original Television Soundtrack), Pt 6</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="date-music">
                <span>8 ngày trước</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="time-music">
                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z">
                    </path>
                  </svg>
                </button>

                <span>3: 12</span>

                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1">
              <span>1</span>
              <button>
                <svg height="32" role="img" width="32" viewBox="0 0 24 24" class="YetgE1VONGunFTGer0iQ">
                  <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
              </button>
            </div>
            <div class="col-md-4">
              <div class="image-music">
                <img src="https://i.scdn.co/image/ab67616d000048510f5c597bba60a1e0c5364baa" alt="">
              </div>
              <div class="title-music">
                <h5>Stay with me</h5>
                <span>
                  <a href="#">CHANYEOL</a>,
                  <a href="#">Punch</a>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-album">
                <a href="#">Moonlovers: Scarlet Heart Ryeo (Original Television Soundtrack), Pt 6</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="date-music">
                <span>8 ngày trước</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="time-music">
                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z">
                    </path>
                  </svg>
                </button>

                <span>3: 12</span>

                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <span>1</span>
              <button>
                <svg height="32" role="img" width="32" viewBox="0 0 24 24" class="YetgE1VONGunFTGer0iQ">
                  <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
              </button>
            </div>
            <div class="col-md-4">
              <div class="image-music">
                <img src="https://i.scdn.co/image/ab67616d000048510f5c597bba60a1e0c5364baa" alt="">
              </div>
              <div class="title-music">
                <h5>Stay with me</h5>
                <span>
                  <a href="#">CHANYEOL</a>,
                  <a href="#">Punch</a>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-album">
                <a href="#">Moonlovers: Scarlet Heart Ryeo (Original Television Soundtrack), Pt 6</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="date-music">
                <span>8 ngày trước</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="time-music">
                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z">
                    </path>
                  </svg>
                </button>

                <span>3: 12</span>

                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <span>1</span>
              <button>
                <svg height="32" role="img" width="32" viewBox="0 0 24 24" class="YetgE1VONGunFTGer0iQ">
                  <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
              </button>
            </div>
            <div class="col-md-4">
              <div class="image-music">
                <img src="https://i.scdn.co/image/ab67616d000048510f5c597bba60a1e0c5364baa" alt="">
              </div>
              <div class="title-music">
                <h5>Stay with me</h5>
                <span>
                  <a href="#">CHANYEOL</a>,
                  <a href="#">Punch</a>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-album">
                <a href="#">Moonlovers: Scarlet Heart Ryeo (Original Television Soundtrack), Pt 6</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="date-music">
                <span>8 ngày trước</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="time-music">
                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z">
                    </path>
                  </svg>
                </button>

                <span>3: 12</span>

                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <span>1</span>
              <button>
                <svg height="32" role="img" width="32" viewBox="0 0 24 24" class="YetgE1VONGunFTGer0iQ">
                  <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
              </button>
            </div>
            <div class="col-md-4">
              <div class="image-music">
                <img src="https://i.scdn.co/image/ab67616d000048510f5c597bba60a1e0c5364baa" alt="">
              </div>
              <div class="title-music">
                <h5>Stay with me</h5>
                <span>
                  <a href="#">CHANYEOL</a>,
                  <a href="#">Punch</a>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-album">
                <a href="#">Moonlovers: Scarlet Heart Ryeo (Original Television Soundtrack), Pt 6</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="date-music">
                <span>8 ngày trước</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="time-music">
                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z">
                    </path>
                  </svg>
                </button>

                <span>3: 12</span>

                <button>
                  <svg role="img" fill="currentColor" height="16" width="16" viewBox="0 0 16 16"
                    class="Svg-sc-1bi12j5-0 fIDrcz">
                    <path
                      d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>