* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-2 {
    padding: 0 15px;
    width: 16.6666%;
}
