<div class="wrapper">

  <div class="container">
    <!-- Search-Page default -->
  <div class="default">

    <!-- listen the most -->
    <div class="top">
      <h3 class="my-4">Thể loại bạn nghe nhiều nhất</h3>
      <div class="category d-flex">

        <!-- List category -->
        <div class="item">
          <p class="title">Dance / Điện tử</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item">
          <p class="title">Hip-hop</p>
          <div class="image">
            <img src="https://images.unsplash.com/flagged/photo-1564434369363-696a2e6d96f9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>
        <div class="item">
          <p class="title">Indie</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1615748562359-3a430a3b5e56?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>
        <div class="item">
          <p class="title">Pop</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1468141589425-dcddef77ddad?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>



      </div>
    </div>

    <!-- all category -->
    <div class="all-category">
      <h3 class="my-4">Duyệt tìm tất cả</h3>
      <div class="category d-flex flex-wrap">

        <div class="item" >
          <p class="title">Podcast</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Dành cho bạn</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Bảng xếp hạng</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Mới phát hành</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Khám phá</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Concerts</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Pop</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

        <div class="item" >
          <p class="title">Pop</p>
          <div class="image">
            <img src="https://images.unsplash.com/photo-1518084312042-99868a8ee2e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNpbmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <router-outlet></router-outlet>

</div>
