.wrapper {
  padding-left: 280px;
  padding-top: 50px;
  background: linear-gradient( 180deg,  #1e1e1e, #121212);
  color: white;
  width: 100%;
  height: 100%;
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .default {
    .category {
      margin-left: -10px;
      margin-right: -10px;
      .item {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 10px;
        .title {
          position:absolute;
          top: 10px;
          left: 10px;
          font-weight: bold;
          z-index: 1000;
          font-size: 25px;
        }
        .image {
          transform: rotate(25deg);
          position: absolute;
          overflow: hidden;
          bottom:-5%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          img {
            width: 100%;
          }
        }
      &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.05);
      }
      }
      .item:nth-child(n){
        background: rgba(128, 0, 128, 0.8);
      }
      .item:nth-child(2n){
        background: rgb(16, 187, 218, 0.8);
      }
      .item:nth-child(3n){
        background: rgb(180, 216, 19, 0.8);
      }
      .item:nth-child(4n){
        background: rgb(231, 128, 10, 0.8);
      }
    }
    .top {
      .category{
        .item{
          width: 380px!important;
          height: 220px!important;
          .title{
            font-size :45px!important;
          }
          .image {
            width: 150px;
            height: 150px;
            right:-5%;
            img {
              width: 100%;
            }
          }
        }
      }

    }
    .all-category{
      .category{
        .item{
          width:180px!important;
          height:180px!important;
          .image {
            width: 100px;
            height: 100px;
            right: -10%;

            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
